    /* h1: selector */
    /* declaration: padding: 20px; */
    /* property: padding */
    /* value: 20px; */
    h1 {
        background-color: rgb(7, 7, 7);
        color: rgb(255, 255, 255);
        padding: 20px;
        margin: 0;
        }
